body{
  background-color: white;
  height: 2000px;
  width: 1500px;
}
header{
  background-color: black;
    height:20%;
    width: 100%;
}
section{

}
section{
  div{

  }
}

footer{
  background-color: black;
    height: 25%;
    width:100%;
}
